/* CSS full-screen layout - site specific elements */

html { overflow: hidden; }
body { overflow: hidden; padding: 0; margin: 0; width: 100%; height: 100%; font-family: Trebuchet MS, Trebuchet, Arial, sans-serif; background: #FFFFFF;}
h1 { padding:7px 10px; margin:0; font-size: 1.2em; line-height:0.2em; }
h2 { padding:7px 10px; margin:0; font-size: 1.0em; }
h3 {	font-size: 0.9em; border-bottom: 1px solid #ccc;}
h4 {	font-size: 0.85em;}
label { font-size: 0.9em;}

#header { position: absolute; border: 1px solid #fff; top: 10px; left: 10px; right: 10px; margin-bottom:5px; height: 80px; overflow: hidden;  }
#header { background: #ffffff; border: 1px solid #592F57; box-shadow: 0 0px 0px #CCC; } 
#headertitle { position: absolute; top: 10px; left: 100px; right:20px; overflow: hidden; text-align:center; } 
#map { position: absolute; top: 100px; left: 315px; right: 10px; bottom: 20px; overflow: hidden; border: 1px solid #ccc; box-shadow: 0 0px 0px #CCC; background-color: #cedfe4;} 
#sidebar { position: absolute; top: 100px; left: 10px; width: 280px; bottom: 20px; font-size: 14px; overflow: auto; border: 1px solid #592F57; box-shadow: 0 0px 0px #CCC; padding: 10px 10px 10px 10px;overflow-x:hidden;overflow-y:hidden;}
#layerSelect { position: absolute; top: 10px; left: 50px; z-index: 10000;}
#scalebar {position: absolute; right: 20px; bottom: 75px; z-index: 10001; font-size: small;}

.ac-renderer {
  position: absolute;
  width: 350px;
  background-color: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}

.ac-row {
  position: relative;
  padding: .4em;
  cursor: pointer;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}

.ac-type {
  background-color: #990033;
  color: #FFFFFF;
  display: block;
  margin: 2px;
  padding: 2px;
  font-style: italic;
  float: right;
}
